@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');
//fonts 
$english-font:'Rubik', sans-serif;
$main-font: 'Rubik', sans-serif;

// font-weigth
$font-light:300;
$font-regular:400;
$font-bold:700;
$font-black:000;

// colors
$blue:#1d3557;
$red:#e63946;
$light-blue:#778da9;






*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $main-font;


    main{
        min-height: 80vh;
    }

    footer{
        border-top: 0.5px solid gray;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blue;
        color: white;
        font-weight: 300;
    }
}


/////////////////////////////////////////////
////        General Classes               ////
/////////////////////////////////////////////

.page{
    direction: rtl;
    padding-inline: 40px;
}

.page-header{
    padding-block: 20px;
}

.page-title{
    text-align: center;
    margin: 20px 0;
}


// buttons

.btn{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn{
    background-color: red;
    color: white;
    border: 1px solid red;
    &:hover{
        background-color: white;
        color: red;
        border: 1px solid white;
    }
}

.save-btn{
    background-color: $blue;
    color: white;
}

.edit-btn{
    background-color: yellow;
    color: black;
}




/////////////////////////////////////////////
////        Imports               ////
/////////////////////////////////////////////


@import './_navbar.scss';
@import './home';
@import './newList';
@import './singleList';
@import './myLists';
@import './login';
@import './admin';


