@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');
//fonts 
$english-font:'Rubik', sans-serif;
$main-font: 'Rubik', sans-serif;

// font-weigth
$font-light:300;
$font-regular:400;
$font-bold:700;
$font-black:000;

// colors
$blue:#1d3557;
$red:#e63946;
$light-blue:#778da9;




body{
    font-family: $main-font;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $main-font;


    main{
        min-height: 80vh;
        
    }

    footer{
        border-top: 0.5px solid gray;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blue;
        color: white;
        font-weight: 300;
    }
}


/////////////////////////////////////////////
////        General Classes               ////
/////////////////////////////////////////////

.page{
    direction: rtl;
    padding-inline: 40px;
}

.page-header{
    padding-block: 20px;
  
}

.page-title{
    text-align: center;
    margin: 20px 0;
    color: $blue;
    font-weight: 700;
}


.loader{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    z-index: 20;
    justify-content: center;
    .circle{
        margin:auto;
        margin-top: 50%;
    }
}

.message{
    position: relative;
    z-index:10;
    background-color: green;
    color:white;
    font-size: 16px;
    text-align: center;
    padding: 5px 20px;
}


.dialog{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 25;
    background-color: rgba(0,0,0,0.7);
    top:0;
    left:0;
    &__container{
        background-color: white;
        position: relative;
        top:20vh;
        min-height: 300px;
        padding: 20px;   
        margin-inline:30px;
        border-radius: 20px;
        background-color: rgba(29, 53, 87,.9);  
        box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    }

    &__question{
        text-align: center;
        color: white;
    }
    p{
        color: white;
    }

    &__options{
        margin-top: 150px;
        display: flex;
        justify-content: space-around;
    }
}

// buttons

.btn{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn{
    background-color: red;
    color: white;
    border: 1px solid red;
    &:hover{
        background-color: white;
        color: red;
        border: 1px solid white;
    }
}

.save-btn{
    background-color: $blue;
    color: white;
}

.edit-btn{
    background-color: yellow;
    color: black;
}




/////////////////////////////////////////////
////        Imports               ////
/////////////////////////////////////////////


@import './_navbar.scss';
@import './home';
@import './newList';
@import './singleList';
@import './myLists';
@import './login';
@import './admin';


